<footer class='footer-light bg-success py-3 mt-auto'>
    <div class="container">
        <span class='text-dark'>©TrailCritik</span>
        <span class='text-dark'>Made by Aaron Rosenzweig</span>
    </div>
</footer>