<footer class='footer bg-dark py-3 mt-auto'>
    <div class="container">
        <span class='text-muted'>©TrailCritik</span>
        <span class='text-muted'>Made by Aaron Rosenzweig</span>
    </div>
</footer>